name: Test

on:
  push:
    branches:
      - *
  pull_request:
    branches:
      - *

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'
          check-latest: true

      - name: Start docker compose
        run: docker compose -f docker-compose.test.yml up --wait

      - name: Get dependencies
        run: go mod download
        
      - name: Run tests
        run: TF_ACC=1 go test -v -race -coverprofile=coverage.txt -covermode=atomic ./...
          
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'
          check-latest: true
          
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v4
        with:
          version: latest 